.HostContainer {
  width: 100%;
  height: 650px;
  background-size: cover !important;
}

.HostDescription {
  display: flex;
  justify-content: flex-start;
}

.Content {
  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  color: #3d3d3d;
  width: 80% !important;
  margin: 30px 50px;
}

.HostSeriesContainer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.HostSeries {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 0px 50px;
}


.HostTile {
  margin-left: 67px;
  margin-bottom: 40px;
}

@media (min-width: 2500px) { 
  .Content {
    font-size: 35px;
    margin: 80px;
    text-indent: 70px;
  }
  
}

@media (max-width: 576px) {
  .HostSeries {
    margin-left: 0px;
  }
  .HostTile {
    font-size: 20px;
    margin-left: 0px;
    margin-bottom: 20px;
  }
  .HostContainer {
    height: 200px;
  }
}