.contact-us {
  height: 500px;
  width: 100%;
  background: white;
  display: flex;
  justify-content: space-around;
}

.contactInfo {
  width: 300px;
  margin-left: 40px;
  padding-top: 40px;
}

.logo {
  display: flex;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 100px;
  width: 250px;
  align-items: center;
  justify-content: center;
  margin-left: 0;
}
.logoText{
  width: 100px;
}
.logoTextStyle {
  letter-spacing: 10px;
}
.logoContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.ContactUsHeaderText{
  /* width: 171px; */
  height: 58px;
  margin-top: 25px;
}

.ContactUsHeaderTextStyle {
  
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 29px;
  color: #3D3D3D;
}
.ContactUsInfoText {
  display: flex;
  margin-top: 11px;
}
.ContactUsInfoTextStyleBold {
  
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 20px;
  color: #3D3D3D;
}

.ContactUsInfoTextStyle {
  
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 20px;
  color: #3D3D3D;
  padding-left: 10px
}

.formHeader {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 25px;
  color: #3D3D3D;
}

.form {
  padding-top: 50px;
}

.field {
  display: flex;
  margin-top: 21px;
}

textarea,
input.text,
input[type="text"],
input[type="button"],
input[type="submit"],
.input-checkbox {
-webkit-appearance: none;
border-radius: 0;
}

.fieldStyle {
  -webkit-appearance: none;
  border-width: 0 0 0.5px;
  width: 357px;
  height: 30px;
  line-height: 3;
  border-radius: 0;
  /* border: 0.5px solid #3D3D3D; */
}

.messageLabel {
  
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 140.62%;
  color:rgba(61, 61, 61, 0.5);
  padding-left: 6px;
}

::placeholder {
  
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 140.62%;
  color: #3D3D3D;
  padding: 5px;
}

.textAreaStyle {
  resize: none;
  border: none;
  height: 100px;
  padding-left: 10px;
}

.textArea {
  display: flex;
  flex-direction: column;
}

.lineStyle {
  border: 0.5px solid rgba(61, 61, 61, 0.1);
  width: 749px;
}

.buttonStyle {
  background: #34B5CF;
  border: none;
  width: 250px;
  height: 45px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #FFF;
  margin-top: 24px;
}
.rightFieldStyle {
  padding-left: 30px;
}

@media (min-width: 2000px) {
  .contact-us{
    align-items: center;
  }
  .fieldStyle {
    width: 555px;
    height: 35px;
  }
  .lineStyle {
    width: 1140px;
  }
}
@media (max-width: 768px) {
  .contact-us {
    align-items: center;
    flex-direction: column-reverse;
    height: auto;
  }
  .fieldStyle {
    width: 320px;
  }
  .lineStyle {
    width: 669px;
  }
  .contactInfo {
    padding-bottom: 25px;
  }
  .buttonStyle{
    width: 239px;
  }
}

@media (max-width: 576px) {
  .contact-us {
    flex-direction: column-reverse;
    justify-content: flex-start;
    height: auto;
    margin-bottom: 31px;
  }
  
  .contactInfo {
    width: 100%;
    padding-top: 0;
    margin-left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 35px 0px;
  }

  .field {
    display: flex;
    flex-direction: column;
    margin-top: 0px;
  }
  
  .logoImg {
    width: 118px;
  }
  
  .ContactUsHeaderText{
    margin-top: 7px !important;
    height: auto;
    margin-bottom: 11px;
    width: auto;
  }
  
  .ContactUsHeaderTextStyle {
    font-size: 15px;
    line-height: 20px;
    font-family: sans-serif;
  }
  .ContactUsInfoText {
    margin-top: 8px !important;
  }
  .ContactUsInfoTextStyleBold {
    font-size: 13px;
    line-height: 18px;
    font-family: sans-serif;
  }
  .rightFieldStyle {
    padding-left: 0px;
  }
  .ContactUsInfoTextStyle {
    font-size: 13px;
    line-height: 18px;
  }
  
  .formHeader {
    text-align: center;
  }
  
  .form {
    padding-top: 20px;
    display: flex;
    padding-left: 15px;
  }
  
  .fieldStyle {
    margin-top: 21px;
  }
  
  .lineStyle {
    width: 357px;
  }

  .logoContainer {
    margin-bottom: 18px;
  }

  .logo {
    width: auto;
    height: auto;
  }

  .buttonStyle {
    width: 200px;
}
}