.friendSiteBannerContainer {
  height: 375px;
  width: 100%;
  /* display: flex;
  flex-direction: row; */
}
.banner-container {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-style: normal;
  /* display: flex; */
  background-size: cover;
  font-style: normal;
  position: relative;
}
.background {
  width: 100%;
  position: absolute;
}

.sideDiv {
  height: 375px;
  width: 100%;
  background: linear-gradient(270deg, #DDE6F5 0%, #EBF0F9 82.96%, rgba(246, 247, 252, 0) 100.81%);
}

.imageStyle {
  height: 100%;
  width: 100%;
  position: absolute;
}

.logoDiv {
  position: relative;
  display: flex;
  flex-direction: column;
}

.logoStyle {
  width: 284px;
  height: 116px;
  margin: 30px auto 46px;
}

.header {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  color: #FFFF;
  margin: 0 auto 10px;
}

.dark {
  color: black
}
.liight {
  color: white
}

.content {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  text-align: center;
  color: #FFFF;
  margin-bottom: 15px;
  width: 68%;
  margin: 0 auto 22px;
  overflow-y: scroll;
}

.button-fr {
  background-color: Transparent;
  height: 50px;
  border: 1px solid #FFFF;
  box-sizing: border-box;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #FFFF;
  margin: 0 auto;
  margin-bottom: 40px;
}

@media (max-width: 576px) {
  .friendSiteBannerContainer {
    height: 305px;
    display: flex;
  }

  .imageStyle {
  }

  .logoDiv {
    width: auto;
    align-items: center;
    padding: 34px 30px 0px 30px;
  }

  .logoStyle {
    width: 144px;
    height: 59px;
    margin: 0;
    margin-bottom: 30px;
  }

  .header {
    font-size: 15px;
  }

  .content {
    font-size: 13px;
    width: auto;
    text-align: justify;
  }

  .button-fr {
    width: fit-content;
    height: 30px;
    font-size: 13px;
  }
}
