.headerBanner {
  width: 100%;
  background: #F9F9F9;
}

.imageBackground {
  position: relative;
  width: auto;
  height: auto;
  width: 100%;
  max-height: 450px;
}

.headerText {
  text-align: center;
  
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 118.5%;
  text-transform: uppercase;
  color: white;
  height:100px;
  width: 100%;
  bottom: 0;
  position: absolute;
  background: linear-gradient(0deg, #000000 0.24%, rgba(0, 0, 0, 0) 99.8%);
}

@media (max-width: 576px) {
  .headerTitle {
    padding-top: 50px;
    font-size: 17px;
  }

}

@media (min-width: 2500px){
  .imageBackground {
    max-height: 932px;
  }
  .headerText {
    font-size: 65px;
    height: 194px;
  }
}
