@import url('https://fonts.googleapis.com/css?family=Lobster');

#home-carousel {
    height: 200px;
    width: 600px;
    left: -90px;
    margin-top: 80px;
    position: absolute;
}

.arrow {
    position: absolute;
    margin-top: 60px;
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}
.carousel-arrow {
    cursor: pointer;
}

.arrow-left {
    left: 60px;
}


.arrow-right {
    left: 690px;
    transform: rotate(180deg);
}

.item {
    text-align: center;
    color: white;
    font-size: 40px;
    position: absolute;
    transition: height 1s, width 1s, left 1s, margin-top 1s, line-height 1s, background-color 1s;
}

$level0-height: 176px;
$level0-width: 250px;
$level1-height: 176px;
$level1-width: 250px;

$level0-left: 406px;
$level1-left: 114px;

$level0-left-big: 500px;



.homeLevel0 {
    height: $level0-height;
    width: $level0-width;
    line-height: $level0-height;
    left: $level0-left;
}

.homeLevel1 {
    height: $level1-height;
    width: $level1-width;
    line-height: $level1-height;
    left: $level1-left;
}


.homeLevel1.left-enter {
    opacity: 0;
    left: $level1-left;
    height: $level1-height;
    width: $level1-width - 20;
    line-height: $level1-height;
}

.homeLevel1.left-enter.left-enter-active {
    opacity: 1;
    left: $level1-left;
    height: $level1-height;
    width: $level1-width;
    line-height: $level1-height;
    transition: left 1s, opacity 1s, height 1s, width 1s, margin-top 1s, line-height 1s;
}

.homeLevel0.left-leave {
    opacity: 1;
    left: $level0-left;
    height: $level1-height;
    width: $level1-width;
    line-height: $level1-height;
}

.homeLevel0.left-leave.left-leave-active {
    left: $level0-left + $level1-width;
    opacity: 0;
    height: $level1-height;
    line-height: $level1-height;
    width: $level1-width;
    transition: left 1s, opacity 1s, height 1s, width 1s, margin-top 1s, line-height 1s;
}

.homeLevel0.right-enter {
    opacity: 0;
    left: $level0-left + $level1-width;
    height: $level1-height;
    width: $level1-width - 20;
    line-height: $level1-height;
}

.homeLevel0.right-enter.right-enter-active {
    left: $level0-left;
    opacity: 1;
    height: $level1-height;
    line-height: $level1-height;
    width: $level1-width;
    transition: left 1s, opacity 1s, height 1s, width 1s, margin-top 1s, line-height 1s;
}

.homeLevel1.right-leave {
    left: $level1-left;
    height: $level1-height;
    opacity: 1;
    line-height: $level1-height;
    width: $level1-width;
}

.homeLevel1.right-leave.right-leave-active {
    left: $level1-width - $level1-width - 20;
    opacity: 0;
    height: $level1-height;
    width: $level1-width - 20;
    line-height: $level1-height;
    transition: left 1s, opacity 1s, height 1s, width 1s, margin-top 1s, line-height 1s;
}

.noselect {
    -webkit-user-select: none; 
     -khtml-user-select: none; 
       -moz-user-select: none; 
        -ms-user-select: none;  
            user-select: none;
}

.playParavan {
    position: absolute;
    width: 60px;
    height: 14px;
    background: black;
    color: white;
    bottom: 0;
    float: right;
    right: 6px;
    margin-bottom: 3px;
}

@media (min-width: 1800px) {

    .arrow {
        margin-top: 80px;
    }
    .arrow-right{
        left: 878px;
    }
    .arrow-left {
        left: 60px;
    }
    .homeLevel1{
        width: auto;
        height: auto;
    }
    .homeLevel0{
        width: auto;
        height: auto;
        left: $level0-left-big;
    }
}
@media (max-width: 576px) {
    #home-carousel {
        width: 100%;
        margin: 0;
        left: 0;
        overflow: hidden;
    }
    .arrow-img {
        width: 25px;
    }
    .arrow-left {
        left: 10px;
    }
    .arrow-right {
        left: 92%;
    }
    .homeLevel1 {
        left: 55px;
    }
    .homeLevel0 {
        left: 345px;
    }
    .homeLevel1.left-enter {
        left: -50px;
    }
    .homeLevel1.left-enter.left-enter-active {
        left: 55px;
    }
}