.LiveNow {
  height: 275px;
  background: #eaeaea;
  width: 100%;
}

.LiveNow--Title {
  padding-top: 48px;
  padding-left: 98px;
  font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 38px;
}

.LiveNow--Line {
  background: #FFFFFF;
  width: 333px;
  border-top: 1px solid #3D3D3D;
}