@import "./variables";

.Logo {
  display: flex;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 40px;
  width: 120px;
  align-items: center;
  justify-content: center;
}

.Logo:hover {
  cursor: pointer;
}

@media (max-width: map-get($grid-breakpoints, md)) {
	.Logo {
    width: 80px;
  }
  .Logo:hover {
    cursor: pointer;
  }
}
