.containerMobileAppLink {
  width: 100%;
  background: #F9F9F9;
  height: 383px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.qrCodeStyle {
  padding-left: 67px;
  padding-top: 96px;
}

.googlePlayStyle {
  text-align: center
}

.firstText {
  
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  color: #3D3D3D;
  margin-top: 77px;
  margin-bottom: 5px;
}

.secondText {
  
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 33px;
  text-align: center;
  color: #3D3D3D;
  margin-bottom: 10px;
}

.thirdText {
  
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: #3D3D3D;
  margin-bottom: 54px;
  width: 436px;
}
