.footerBanner {
  background: #34B5CF;
  height: 293px;
  position: absolute;
  width: 100%;
}
.bannerHeader {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  margin-top: 28px;
}

.menuHeader {
  margin-left: 68px;
}

.menuTextStyle {
  margin-bottom: 10px;
  text-align: left;
  font-family: Segoe UI;
  font-size: 24px;
  line-height: 32px;
  color: white
}

.menuContentStyle {
  margin-bottom: 6px;
  text-align: left;
  
  font-size: 16px;
  line-height: 20px;
  color: rgba(255, 255, 255, 0.8);
}

.registerColumn {
  display: flex;
  flex-direction: column;
  color: white;
  
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  align-items: center;
}

.emailInput {
  width: 284px;
  height: 35px;
  background: #34b5cf;
  border: 1px solid #FFFF;
  padding-left: 10px;
  margin-bottom: 14px;
  color: white !important;
  
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
}
.emailInput::placeholder {
  color: white !important;
}
.register-btn {
  width: 284px;
  height: 35px;
  background: #0B8CA7;
  border: none;
  color: white;
  
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
}

.mostViewedCol {
  margin-bottom: 10px;
  text-align: left;
  font-family: Segoe UI;
  font-size: 24px;
  line-height: 32px;
  color: white;
  padding-right: 68px;
}

.footerInfo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 28px;
}

.copyRightInfo {
  padding-top: 10px;
  color: white;
  margin-left: 43px;
  
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
}

.languageSelection {
  padding-top: 10px;
  color: white;
  margin-left: 300px;
  
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
}

.iconsColmStyle {
  margin-right: 50px;
}

.iconStyle {
  margin-right: 16px;
}

.rightColumn {
  margin-right: 60px;
}

@media (max-width: 768px) {
  .menuHeader {
    margin-left: 20px;
  }
  .rightColumn {
    margin-left: 20px;
  }
  .footerInfo {
    margin-top: 0px; 
  }
}
@media (max-width: 576px) {
  .footerBanner {
    height: 355px;
  }

  .bannerHeader {
    justify-content: center;
  }

  .menuHeader {
    display: none;
  }

  .menuTextStyle {
    font-size: 16px;
  }

  .registerColumn {
    font-size: 13px;
  }

  .emailInput {
    font-size: 13px;
    width: 220px;
    height: 30px;
  }
  
  .register-btn {
    font-size: 13px;
    width: 150px;
    height: 30px;
  }

  .footerInfo {
    flex-direction: column-reverse;
    align-items: center;
    margin-top: 50px;
  }

  .copyRightInfo {
    margin-left: 0;
    width: 200px;
    text-align: center;
  }

  .iconsColmStyle {
    display: flex;
    align-items: center;
    margin-right: 0;
    margin-bottom: 23px;
  }

  .rightColumn {
    display: none;
  }
}

@media (min-width: 2500px){
  .bannerHeader {
    margin-top: 80px;
  }
  .footerBanner {
    height: 44vh;
  }
  .menuTextStyle {
    font-size: 55px;
    line-height: 52px;
    margin-bottom: 25px;
  }
  .menuContentStyle {
    font-size: 32px;
    line-height: 36px;
    margin-bottom: 15px;
  }
  .registerColumn {
    font-size: 38px;
    line-height: 45px;
  }
  .emailInput {
    font-size: 35px;
    line-height: 45px;
    width: 600px;
    height: 74px;
    padding-left: 30px;
    margin-bottom: 25px;
    border: 1.5px solid #FFFF;
  }
  .emailInput::placeholder {
    font-size: 35px;
  }
  .register-btn {
    font-size: 38px;
    line-height: 45px;
    height: auto;
    width: 600px;
    height: 74px;
  }
  .mostViewedCol {
    font-size: 55px;
    line-height: 52px;
    margin-bottom: 25px;
  }
  .copyRightInfo {
    font-size: 30px;
    line-height: 39px;
    margin-left: 130px;
  }
  .languageSelection {
    font-size: 34px;
    line-height: 39px;
  }
  .footerInfo {
    margin-top: 70px;
  }
  .iconStyle {
    height: 40px;
    margin-right: 25px;
  }
  .iconsColmStyle {
    margin-right: 125px;
  }
}