@import "./variables";

#player {
	position: fixed;
	left: 0;
	right: 0;
	z-index: 5;
	transition: bottom .2s ease-in;
	&.collapsed {
		height: 8rem;
		&.show {
			bottom: 0;
			
		}
		bottom: -10rem;
	}
	&.expanded {
		height: 14rem;
		bottom: 0;
	}
	&.isBig {
		height:100%;
		bottom: 0;
	}
}
#playerSpaceHolder {
	&.show {
		height: 0rem;
	}
	&.hide {
		height: 0rem;
	}
}

#playerMini {
	color: white;
	background: linear-gradient(rgba(0,0,0,0) -19.2%, #000000 53.49%); //linear-gradient(#3d3d3d, #000000);
	padding-left: 2rem;
	padding-right: 2rem;
	position: absolute;
	//right: 3rem;
	height: 3rem;
	width: 100%;
	line-height: 3rem;
	&.show {
		top: -3rem;	
	}
	&.hide {
		top: 0rem;
		display: none;
	}
}
.playerMiniContainer {
	display: flex;
    position: absolute;
	right: 21px;
	font-size: 18px;
	text-decoration: underline;
}
.little-wave {
	position: absolute;
    top: 1.5rem;
    width: 1.5rem;
    height: 1.5rem;
    line-height: 1;
}
.little-wave-path {
	fill: $gray;
}
#playerMiniLeft {
	left: -1.5rem;
}
#playerMiniRight {
    right: -1.5rem;
}
.mini-player-svg {
	height: 2.5rem;
    margin-top: .25rem;
    margin-bottom: .25rem;
}
.player-controls-container {
	position: absolute;
	height: 8rem;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 1rem;
	&.collapsed {
		color: white;
		background: linear-gradient(180deg, rgba(117, 126, 124, 0.3) 0%, rgba(117, 126, 124, 0.84) 38.54%, rgba(117, 126, 124, 0.99) 66.67%, #757E7C 100%); //linear-gradient(rgba(0,0,0,0) -19.2%, #000000 53.49%)
	}
	&.expanded {
		background: linear-gradient(180deg, rgba(117, 126, 124, 0.3) 0%, rgba(117, 126, 124, 0.84) 38.54%, rgba(117, 126, 124, 0.99) 66.67%, #757E7C 100%);
		color: $gray;
	}
}
.player-info {
	align-self: flex-start;
	width: 24%;
}
.player-info-img {
	height: 8rem;
	&:not(:first-child) {
		padding-left: .5rem;
	}
	&:not(:last-child) {
		padding-right: .5rem;
	}
	&.video.collapsed {
		width: 11rem;
		margin-right: 2.5rem;
	}
}
.player-info-txt {
	&:not(:first-child) {
		// padding-left: .5rem;
	}
	&:not(:last-child) {
		padding-right: .5rem;
	}
}
.player-expanded-more {
	height: 27px;
	width: 20px;
	transform: rotate(90deg);
	margin-right: 15px
}
.player-expanded-less {
	height: 27px;
	width: 20px;
	transform: rotate(-90deg);
	margin-right: 15px
}
.player-title {
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 11px;
	line-height: 21px;
	text-align: center;
	color: #FFFFFF;
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	&.colapsed {
		width: 200px;
		padding-left: 33px;
		text-align: left;
	}
}

.player-volume-path-rec {
	border: none;
    min-width: 30px;
    min-height: 24px;
    padding-top: 1.8rem;
    margin-right: 15px;
}
.player-subtitle {
	font-size: 0.9rem;
	line-height: 1.5rem;
}
.player-artist {
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 12px;
	line-height: 21px;
	text-align: center;
	color: #FFFFFF;
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	&.colapsed {
		width: 200px;
		text-align: left;
		padding-left: 33px;
	}
}
.player-controls {
	text-align: center;
	margin-top: 1.5rem;
	height: 3rem;
	display: flex;
    justify-content: center;
	&.isBig {
		text-align: center;
		margin: 0 auto;
		left: 0;
		right: 0;
		padding-top: 18px;
		width: 50%;
		flex-grow: 1;
		display: flex;
    	justify-content: center;
	}
}
.player-controls-svg {
	width: 36px;
	height: 36px;
	&.left {
		width: 32px;
	}
	&.right {
		width: 38px;
		height: 34px;
		margin-left: -11px;
	}
}

.player-controls-svg-isBig {
	width: 24px;
	height: 24px;
	&.right {
		margin-left: -6px;
		width: 35px;
		height: 26px;
	}
}
.player-bar {
	position: relative;
	width: 100%;
	height: 1rem;
}
.player-bar-bar {
	position: absolute;
	left: 4rem;
	right: 4rem;
	height: 3px;
	z-index: 1;
	border-radius: .3rem;
	top: 40%;
  background-color: darken($gray, 50%);
}
.player-load-bar {
	position: absolute;
	width: 0%;
	height: 3px;
	background-color: darken($gray, 25%);
	z-index: 1;
	border-radius: .3rem;
}
.player-play-bar {
	position: absolute;
	width: 0%;
	height: 3px;
	background-color: #e6e6e6;
	z-index: 2;
	border-radius: .3rem;
}
.player-play-marker {
	position: absolute;
    top: 50%;
    left: 0%;
}
.player-remaining {
	position: absolute;
	right: 0;
	line-height: 1;
	font-size: 18px;
	// margin-right: 6px;
}
.player-elapsed {
	position: absolute;
	left: 0;
	line-height: 1;
	font-size: 18px;
	margin-left: 6px;
}
.player-range {
	position: absolute;
	z-index: 3;
	margin: 0 !important;
	height: 4px;
}
$track-color: transparent;
$thumb-color: $gray;
$thumb-radius: 16px;
$thumb-height: 32px;
$thumb-width: 32px;
$thumb-shadow-size: 0;
$thumb-shadow-blur: 0;
$thumb-border-width: 1px;
$thumb-border-color: $black;
$track-height: 8px;
$track-radius: 8px;
$track-border-width: 0px;
@import "./Range";

.player-volume {
	position: relative;
	width: 8rem;
	height: 1rem;
	margin-top: 4.2rem;
	margin-left: 75px;
	&.isBig {
		margin-top: 1rem;
		margin-right: 1rem;
	}
}
.player-volume-svg {
	height: 100%;
}
.player-volume-icon {
	display: flex;
	justify-content: center;
	flex-direction: row;
	text-align: center;
	align-items: center;
	position: absolute;
	top: 26%;
	left: -1rem;
	height: 1rem;
}
.player-volume-bar {
	position: absolute;
	left: 2rem;
	right: 1rem;
	height: 3px;
	z-index: 1;
	border-radius: .3rem;
	top: 65%;
  margin-top: -.125rem;
  background-color: darken($gray, 10%);
}
.player-expand {
	display: flex;
	flex-direction: column;
	// margin-top: .5rem;
	// height: 3rem;
	// position: relative;
	// text-align: right;
	// margin-right: 2rem;
}
.player-expand-svg {
	height: 2rem;
	display: inline-block;
}
.player-fullscreen-svg {
	height: 2rem;
	display: inline-block;
}
.player-backdrop {
	position: absolute;
	top: 0;
	bottom: 10rem;
	left: 0;
	right: 0;
	z-index: 1;
	color: $gray;
}
.player-backdrop-isBig {
	position: absolute;
	top: 0;
	bottom: 10rem;
	left: 0;
	height: 100%;
	right: 0;
	z-index: 1;
	color: $gray;
	background-color: $black-tr;
	overflow: scroll;
	overflow-x: hidden;
}
.player-collapse {
	height: 3rem;
	position: absolute;
	top: 0;
	right: 0;
	margin: 1rem;
	z-index: 1;
}
.player-collapse-svg {
	height: 100%;
}
.player-collapse-path {
	fill: $gray;
}
.player-expanded {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
}
.player-expanded-info {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-top: 1rem;
	padding-bottom: 1rem;
}
.player-expanded-img {
	flex-grow: 1;
	position: relative;
	margin-top: .5rem;
	margin-bottom: .5rem;
}
.player-expanded-img-img {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
}
.player-expanded-txt {
	flex-grow: 0;
	text-align: center;
	margin-top: .5rem;
	margin-bottom: .5rem;
}
.player-expanded-title {
	font-weight: 600;
    font-size: 2.5rem;
    line-height: 1.3;
}
.player-expanded-subtitle {
    font-size: 2rem;
    line-height: 1.3;
}
.player-expanded-artist {
	font-size: 1.8rem;
    line-height: 1.3;
}
.duration-inf {
	position: relative;
    font-size: 2rem;
    top: -.4rem;
}
.duration-elapsed.duration-inf {
	left: 1rem;
}
.duration-remaining.duration-inf {
	left: -1rem;
}

@media (min-width: 2500px) { 
	.elipse-sml {
		height: 40px !important;
	}
	.elipse-md {
		height: 44px !important;
	}
	.elipse-lg {
		height: 48px !important;
	}
	.player-volume-icon {
		min-width: 58px;
		min-height: 58px;
		padding: 4px;
		left: -8rem;
	}
	.player-volume-bar {
		left: 0rem;
		margin-top: 0.875rem;
	}
	.player-volume-path {
		min-width: 44px !important;
		min-height: 58px !important;
		padding: 4px !important;
		&.expand {
			min-width: 62px;
			padding-top: 2.8rem;
		}
	}
	.player-volume-path-rec {
		min-width: 58px !important;
		min-height: 58px !important;
		padding: 4px !important;
	}
	.player-volume-path-full-screen {
		min-width: 44px !important;
		min-height: 58px !important;
		padding: 4px !important;
	}
	.player-screen-control {
		&.isBig {
			margin-top: 2rem !important;
		}
	}
	.player-controls-svg-isBig {
		width: 70px !important;
		height: 33px !important;
		padding-top: 71px !important;
		&.right {
			width: 85px !important;
    		height: 33px !important;
    		padding-top: 84px !important;
		}
	}

	#player {
		&.collapsed {
			&.show {
				&.isBig {
					height: 100% !important;
				}
			}
			height: 14rem !important;
		}
	}

	#player.collapsed.show {
		#reactPlayer {
			&.collapsed {
				width: 28rem !important;
				height: 14rem !important;
			}
		}
	}
	.player-controls-container {
		&.collapsed {
			height: 14rem;
		}
	}  
	.player-elapsed {
		font-size: 25px;
	}
	.player-remaining {
		font-size: 25px;
	}
}

@media (max-width: map-get($grid-breakpoints, md)) {
	.player-info-txt {
		// display: none;
	}
}
@media (max-width: map-get($grid-breakpoints, sm)) {
	.mjs-root-view .mjs-hit-view__arrow {
		border-bottom: 5px solid transparent;
		border-left: 14px solid #fff;
		border-top: 5px solid transparent;
		height: 0;
		margin-left: 2px;
		width: 0;
	}
	.mjs-root-view .mjs-hit-view__arrow, .mjs-root-view .mjs-hit-view__play-icon {
		left: 50%;
		position: absolute;
		top: 50%;
		-webkit-transform: translate(-50%,-50%);
		transform: translate(-50%,-50%);
	}
	.player-control-container {
		// margin-right: -100px;
	}
	.player-volume {
		display: none;
	}
	.player-controls {
		margin-right: -45px;
		margin-top: 0px;
	}
	.player-bar {
		margin-left: 40px;
		margin-top: 11px;
	}
}
@media (min-width: 1023px) {
	#player.collapsed.show {
		#reactPlayer {
			&.collapsed {
				margin: 0px !important;
				/* width: 300px !important; */
				/* height: 500px !important; */
				width: 16rem !important;
    			height: 8rem !important;
			}
		}
	}
	#player.collapsed.show.isBig {
		#reactPlayer {
			&.collapsed {
				margin: 30px auto !important;
				width: 87% !important;
				height: 500px !important;
			}
		}	
	
	}
	
	#playerBackdrop {
		&.player-info-container {
			width: 100% !important;
			margin: 71px auto !important;
			top: 420px !important;
		}
	}
	#player.collapsed.show {
		.player-controls-container.collapsed {
			width: auto ;
			margin: 0px auto;
			top: 0px !important;
		}

	}
	#player.collapsed.show.isBig {
		.player-controls-container.collapsed {
			width: 87% ;
			margin: 48px auto ;
			top: 479px !important;
			&.live-stream {
				top: 0 !important;
				height: auto;
			}
		}
	}
	
}

@media (min-width: 2500px) { 
	.elipse-sml {
		height: 40px !important;
	}
	.elipse-md {
		height: 44px !important;
	}
	.elipse-lg {
		height: 48px !important;
	}
	.player-volume-icon {
		min-width: 58px;
		min-height: 58px;
		padding: 4px;
		left: -8rem;
	}
	.player-volume-bar {
		left: 0rem;
		margin-top: 0.875rem;
	}
	.player-volume-path {
		min-width: 58px !important;
		min-height: 58px !important;
		padding: 4px !important;
		&.expand {
			min-width: 62px;
			padding-top: 2.8rem;
		}
	}
	.player-screen-control {
		&.isBig {
			margin-top: 2rem !important;
		}
	}
	.player-controls-svg-isBig {
		width: 70px !important;
		height: 33px !important;
		padding-top: 71px !important;
		&.right {
			width: 85px !important;
    		height: 33px !important;
    		padding-top: 84px !important;
		}
	}

	#player {
		&.collapsed {
			height: 14rem !important;
		}
	}
	
	#player.collapsed.show {
		#reactPlayer {
			&.collapsed {
				width: 28rem !important;
				height: 14rem !important;
			}
		}
	}
	.player-controls-container {
		&.collapsed {
			height: 14rem;
		}
	}  
	.col {
		margin-left: 13rem !important;
	}
	.player-title {
		font-size: 30px;
    	line-height: 40px;
		&.colapsed {
			width: auto;
		}
	}

}
@media (max-width: map-get($grid-breakpoints, md)) {
	.player-info-txt {
		// display: none;
	}
}


.row {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin-right: -15px;
	margin-left: -15px;
	flex-direction: row;
	justify-content: space-around;
}

.col {
	-ms-flex-preferred-size: 0;
	flex-basis: 0;
	-ms-flex-positive: 1;
	flex-grow: 1;
	max-width: 32%;
	margin-left: 5rem;
	&.isBig {
		max-width: 100%;
		margin: 0 auto;
	}
}

input[type=range]::-webkit-slider-thumb {
	box-shadow: 0 0 0 rgba(0, 0, 0, 0.2), 0 0 0 rgba(13, 13, 13, 0.2);
	background-color: #f1f1f1;
	border: 1px solid #212529;
	border-radius: 16px;
	cursor: pointer;
	height: 15px;
	width: 15px;	
}

/* All the same stuff for Firefox */
input[type=range]::-moz-range-thumb {
	box-shadow: 0 0 0 rgba(0, 0, 0, 0.2), 0 0 0 rgba(13, 13, 13, 0.2);
	background-color: #f1f1f1;
	border: 1px solid #212529;
	border-radius: 16px;
	cursor: pointer;
	height: 15px;
	width: 15px;
}

.volumeAndScreen {
	display: flex
}
.player-info-expanded {
	display: flex;
	width: 285px;
	justify-content: space-around;
	position: absolute;
	bottom: 0;
	left: 30px;
}
.player-info-collapsed {
	display: flex;
	flex-direction: column;
	margin-left: 115px;
	width: 285px;
	justify-content: space-around;
}

.player-expand-close-btns {
	display: flex
}
.player-screen-control {
	display: flex;
	margin-top: 2.8rem;
	&.isBig{
		align-items: center;
		margin-top: 1rem;
	}
}

.elipse-sml {
	height: 10px
}
.elipse-md {
	height: 14px
}
.elipse-lg {
	height: 18px
}
.mute {
	height: 14px
}
.isBigControls {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.isBigVolumeAndScreen {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	width: 25%;
	flex-grow: 1;
	display: flex;
    justify-content: center;
}
.bigScreenInfo {
	position: absolute;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	text-align: -webkit-right;
	top: 0px;
	margin: 41px auto;
	left: 0;
	right: 0;
	padding-right: 23px;
}

@media (max-width: map-get($grid-breakpoints, md)) {
	iframe {
		width: 100% !important;
		height: 100% !important;
	}
	.live-stream-video-container {
		width: 60% !important;
		height: 400px !important;
		&.mini {
			height: auto !important;
			width: 100% !important;
		}
	}
	#player {
		&.collapsed {
			height: 15rem;
			#reactPlayer {
				width: 17rem !important;
				height: 15rem !important;
			}
			.player-bar {
				width: 105%;
			}
		}
		
		&.isBig {
			height: 100%;
			#reactPlayer {
				width: 100% !important;
				height: 380px !important;
				margin-top: 0 !important;
				margin-bottom: 0 !important;
			}
			.hovering-container {
				height: 380px !important;
			}
			.player-controls-container {
				width: 100% !important;
				margin: 0 !important;
				padding: 0 !important;
				position: absolute;
				top: 385px;
				&.live-stream {
					width: 60% !important;
					margin: auto !important;
					background: black none repeat scroll 0% 0%;
					position: relative;
					top: 0;
					display: flex;
				}
			}
			.player-bar {
				width: 90%;
			}
			.player-elapsed {
				left: 0;
				margin-top: 0;
			}
			.player-remaining {
				right: -35px;
				top: -2px;
				margin-top: 0;
				margin-right: 0;
			}
			.player-bar-bar {
				left: 3rem;
			}
			.playPause-button {
				position: static;
				border: none;
				margin-top: 0;
				padding-top: 0;
				width: auto;
				height: auto;
				margin-left: 10px;
				z-index: 1;
			}
			.player-volume {
				display: none;
				top: 8px;
				left: -40px;
			}
			.player-expand {
				position: static;
			}
			.isBigVolumeAndScreen {
				padding-right: 5px;
				padding-top: 10px;
				.player-volume-icon {
					position: static;
					justify-content: flex-start;
					margin-right: 5px;
					margin-top: -3px;
				}
				.player-volume-bar {
					position: static;
					margin-top: 3px;
				}
				.player-volume-path {
					&.expand {
						margin-right: 10px !important;
						height: 15px;
					}
				}
			}
			.player-expand {
				.player-screen-control {
					margin-top: 1rem;
				}
			}
			.playPause-button {
				.player-controls-svg-isBig {
					margin-left: 5px !important;
					margin-top: 1px;
				}
			}
		}
	}
	

	.player-controls-container {
		height: 15rem;
		&.collapsed {
			padding-top: 15px;
		}
		.row {
			justify-content: flex-start;
		}	
	}

	.player-control-container {
		/* margin-left: 25px; */
		margin-top: 5px;
		&.isBig {
			.player-bar {
				margin-left: 0;
			}
		}
	}

	.player-expand {
		position: absolute;
		right: 11px;
		top: -7px;
		align-items: flex-end;
		.player-screen-control {
			margin-top: 10rem;
		}
	}

	.player-expanded-more {
		display: none;
	}

	.player-controls-svg.left {
		display: none;
	}

	.player-controls-svg.right {
		display: none;
	}

	.player-controls-svg {
		margin-left: 9px !important;
		margin-right: 5px !important;
		width: 11px;
		height: 4px;
		&:active {
			outline: none;
		}
		&:focus {
			outline: none;
		}
	}

	.playPause-button {
		position: relative;
		left: 50px; 
		border: 3px solid #FFFFFF;
		border-radius: 30px;
		height: 45px;
		width: 45px;
		margin-top: 45px;
		padding-top: 7px;
		.player-controls-svg {
			height: 16px;
		}
	}

	.player-info-collapsed {
		flex-direction: column;
		width: fit-content;
		margin-left: 240px;
	}

	.player-artist {
		font-size: 19px;
		&.colapsed {
			padding-left: 0;
			width: fit-content;
			white-space: nowrap;
			margin-right: 10px;
		}
	}

	.player-title {
		font-size: 19px;
		&.colapsed {
			padding-left: 0;
			width: fit-content;
			white-space: nowrap;
		}
	}

	.player-bar-bar {
		right: 0px;
		left: 0px;
		width: 100%;
	}

	.bigScreenInfo {
		width: 100% !important;
		margin-top: 13px;
	}
	.player-volume {
		margin-top: 10rem;
		margin-left: 0px; 
	}
	.player-bar {
		margin-left: 110px;
	}
	.player-controls {
		justify-content: flex-start;
		margin-top: 2.5rem;
	}
}

@media only screen and (max-width: 800px) and (min-width: 700px) {
	.player-volume-path-rec {
		min-width: 47px !important;
	}
	.player-volume-path-full-screen {
		min-width: 31px !important;
	}
}

@media only screen and (max-width: 800px) and (min-width: 768px) {
	.player-elapsed {
		margin-top: 20px;
	}
	.player-remaining {
		margin-top: 20px;
	}
}

@media (max-width: map-get($grid-breakpoints, sm)) {
	.player-controls.isBig {
		text-align: center;
		/* left: 0; */
		/* right: 0; */
		padding-top: 18px;
		/* width: 50%; */
		/* flex-grow: 1; */
	}
	.player-artist.colapsed {
		font-size: 14px;
	}

	.player-info-collapsed {
		flex-direction: row;
		width: -webkit-fit-content;
		width: -moz-fit-content;
		width: fit-content;
		margin-left: 113px;
	}

	.player-title {
		font-size: 14px;
	}

	#player {
		&.isBig {
			#reactPlayer {
				width: 100% !important;
			}
			&.isBigVolumeAndScreen {
				padding-left: 68px;
        		padding-top: 19px;
			}
			.player-bar-bar {
				left: 6rem !important;
				width: 85%;
			}
		}
	}

	.isBigVolumeAndScreen {
		display: flex;
		flex-direction: row;
		/* justify-content: flex-end; */
		width: 25%;
		flex-grow: 1;
		padding-right: 30px !important;
    	padding-top: 18px !important;
	}

	.player-controls-svg-isBig {
		width: 24px;
		height: 24px;
		margin-left: -10px;
	}

	.player-control-container {
		// margin-right: -100px;
	}
	.player-volume {
		display: none;
	}
	.player-controls {
		margin-right: -45px;
		margin-top: 0px;
	}
	.player-bar {
		margin-left: 140px;
		margin-top: 11px;
	}
	.player-remaining {
		/* right: -30px; */
		font-size: 12px;
		margin-top: 13px;
		right: -5px
	}
	.player-elapsed {
		left: 5px;
		font-size: 12px;
    	margin-top: 13px;
	}
	.fullscreen-button {
		display: none;
	}
	.playerMiniContainer {
		right: unset;
		margin-right: 15px;
	}
	.playPause-button {
		position: absolute;
		left: 125px;
		border: 3px solid #FFFFFF;
		border-radius: 30px;
		height: 35px;
		width: 35px;
		margin-top: 15px;
		padding-top: 7px;
	}
	.player-bar-bar {
		left: 1rem !important;
	}
	.player-expand .player-screen-control {
		margin-top: 31px;
		margin-right: -6px;
	}
	#player.isBig .player-remaining {
		right: -25px;
	}
	.player-volume-path-rec {
		margin-right: 7px;
	}
	.playPause-button {
		left: 116px;
		margin-top: 13px;
	}
	.dummyDiv {
		display: none;
	}
}

@media only screen and (max-width: 440px) and (min-width: 400px) {
	.playPause-button {
		left: 124px;
		margin-top: 18px;
	}
}

@media (max-width: 380px){
	.live-stream-video-container.mini {
		width: 100% !important;
	}
}
@media (max-width: 320px){
    .player-remaining {
		right: 0px;
	}
	.player-elapsed {
		left: 14px;
	}
	#player.collapsed .player-bar {
		width: 85%;
	}
	.player-bar-bar {
		/* rightx: 44px; */
		left: 10px;
	}
	.playPause-button {
		margin-top: 14px;
	}

	
	
}
