@import url('https://fonts.googleapis.com/css?family=Lobster');

#player-carousel {
    position: absolute;
    height: 200px;
    width: 810px;
    margin: 50px auto;
    left: -243px;
    right: 0;
}

.arrow {
    position: absolute;
    margin-top: 60px;
    background: transparent;
    border: none;
}

.arrow-left-programmlar {
    left: 60px;
}


.arrow-right-programmlar {
    left: 935px;
    transform: rotate(180deg);
}

.item {
    text-align: center;
    color: white;
    font-size: 40px;
    position: absolute;
    transition: height 1s, width 1s, left 1s, margin-top 1s, line-height 1s, background-color 1s;
}

$level2-height: 176px;
$level2-width: 250px;
$level1-height: 176px;
$level1-width: 250px;
$level0-height: 176px;
$level0-width: 250px;

$level-1-left: 674px;
$level0-left: 400px;
$level1-left: 125px;




.level-1 {
    height: $level1-height;
    width: $level1-width;
    line-height: $level1-height;
    left: $level-1-left;
}

.level0 {
    height: $level0-height;
    width: $level0-width;
    line-height: $level0-height;
    left: $level0-left;
}

.level1 {
    height: $level1-height;
    width: $level1-width;
    line-height: $level1-height;
    left: $level1-left;
}


.left-enter {
    opacity: 0;
    left: 0px;
    height: $level1-height - 30;
    width: $level1-width - 20;
    line-height: $level1-height - 30;
}

.left-enter.left-enter-active {
    opacity: 1;
    left: $level1-left;
    height: $level1-height;
    width: $level1-width;
    line-height: $level1-height;
    transition: left 1s, opacity 1s, height 1s, width 1s, margin-top 1s, line-height 1s;
}

.left-leave {
    opacity: 1;
    left: $level-1-left;
    height: $level1-height;
    width: $level1-width;
    line-height: $level1-height;
}

.left-leave.left-leave-active {
    left: $level-1-left + $level1-width + 20;
    opacity: 0;
    height: $level1-height;
    line-height: $level1-height;
    width: $level1-width - 20;
    transition: left 1s, opacity 1s, height 1s, width 1s, margin-top 1s, line-height 1s;
}

.right-enter {
    opacity: 0;
    left: $level-1-left + $level1-width;
    height: $level1-height - 30;
    width: $level1-width - 20;
    line-height: $level1-height - 30;
}

.right-enter.right-enter-active {
    left: $level-1-left;
    opacity: 1;
    height: $level1-height;
    line-height: $level1-height;
    width: $level1-width;
    transition: left 1s, opacity 1s, height 1s, width 1s, margin-top 1s, line-height 1s;
}

.right-leave {
    left: $level1-left;
    height: $level1-height;
    opacity: 1;
    line-height: $level1-height;
    width: $level1-width;
}

.right-leave.right-leave-active {
    left: $level1-width - $level1-width - 20;
    opacity: 0;
    height: $level1-height;
    width: $level1-width - 20;
    line-height: $level1-height;
    transition: left 1s, opacity 1s, height 1s, width 1s, margin-top 1s, line-height 1s;
}

.noselect {
    -webkit-user-select: none; 
     -khtml-user-select: none; 
       -moz-user-select: none; 
        -ms-user-select: none;  
            user-select: none;
}

.playParavan {
    background: url("/images/Groupplay.png");
    position: absolute;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.EpisodeVideoInfo {
    height: 176px;
    width: 250px;
}
.info {
    height: 100px;
    width: 300px;
    font-size: 11px;
    position: absolute;
    top: 120px;
    text-align: left;
    padding-left: 20px;
}

.infoDiv {
    height: 20px;
}

.infoDivView {
    height: 20px;
    display: flex;
}

@media (max-width: 800px) {
    #player-carousel{
        left: -99px;
    } 
    .arrow-right-programmlar {
        left: 765px;
    }
    .arrow-left-programmlar {
        left: 70px;
    }
}

@media (max-width: 576px) {

    .info {
        top: 60px;
        padding-left: 0px;
    }

    #player-carousel{
        left: -75px;
    }

    .arrow {
        margin-top: 25px !important;
    }
    .arrow-left-programmlar {
        left: 70px;
    }

    .arrow-right-programmlar {
        left: 385px;;
    }

    .EpisodeVideoInfo {
        height: 100px;
        width: 140px;
    }
    .item {
        height: 100px;
        width: 140px;
    }
    .level0 {
        left: 300px;
    }
    .level-1 {
        left: 490px;
    }
    .level1 {
        left: 125px;
    }

    .left-enter {
        left: -70px;
     }
    
    .left-enter.left-enter-active {
       left: 70px;
    }
    .player-info {
        display: none;
    }
    
}

@media only screen and (max-width: 440px) and (min-width: 400px) {
    .arrow-right-programmlar {
        left: 440px;
    }
    .carousel-arrow {
        width: 29px;
    }
}

@media (max-width: 320px){
    .arrow-right-programmlar {
        left: 340px !important;
    }
}