.customHeaderBanner {
  width: 100%;
  height: 600px;
  background-size: cover !important;
}

.TextInfo {
  padding-top: 250px;
  padding-left: 120px;
}

.TextInfoTitle {
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
  color: #ffffff;
}

.TextInfoHost {
  font-weight: normal;
  font-size: 18px;
  color: #ffffff;
}

.TextInfoDescription {
  margin-top: 15px;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  color: #ffffff;
  // height: 98px;;
}

.TextInfoEpisode {
  padding-top: 25px;
  .dropdown-menu {
    background-color: rgba(241, 241, 241, 1);
  }
}

.TextInfoEpisodeTitle {
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  text-transform: capitalize;
  color: #ffffff;
  margin-right: 20px;
}

.TextInfoEpisodeBtns {
  display: flex;
  margin-top: 30px;
}

.TextInfoButton {
  background: transparent;
  font-size: 15px;
  border-radius: 14px;
  border: 0.5px solid #ffffff;
  color: white;
  margin-right: 15px;
  font-weight: normal;
  width: 84px;
  &.active {
    background: #dadada;
  }
}
.SeriesPage {
  display: flex;
  flex-wrap: wrap;
}

.title {
  font-weight: bold;
  color: black;
}

@media (max-width: 768px) {
  .TextInfo {
    padding-top: 286px;
    padding-left: 45px;
  }
}
@media (max-width: 576px) {
  .customHeaderBanner {
    background-position: right !important;
  }
  .SeriesPage {
    padding: 10px;
    padding-top: 20px;
    .Episode {
      margin-left: 21px;
      margin-right: 21px;
      width: 100%;
    }
    .EpisodeVideo {
      width: 85%;
    }
    .minicontainer {
      margin-bottom: 20px;
      padding-right: 26px;
      width: 300px;
    }
  }
  .TextInfo {
    padding-top: 338px;
    padding-left: 11px;
    padding-right: 11px;
  }
  .TextInfoTitle {
    font-size: 17px;
  }
  .TextInfoHost{
    font-size: 17px;
  }
  .TextInfoDescription {
    margin-top: 0px;
    font-size: 13px;
    // height: 98px;;
  }
  .TextInfoEpisodeBtns {
    margin-top: 27px;
  }
  .TextInfoEpisodeTitle {
    font-size: 14px;
    line-height: 25px;
  }
  .TextInfoEpisodeBtns {
    margin-top: 11px;
  }
}

